@font-face {
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Manrope-SemiBold'),
    url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'PTSansCaption-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('PTSansCaption-Regular'),
    url('../fonts/PTSansCaption-Regular.woff2') format('woff2'),
    url('../fonts/PTSansCaption-Regular.woff') format('woff');
  font-display: swap;
}