$accent: #4442BA;


%fira-300 {
  font-family: 'FiraCode-Light', sans-serif;
  font-weight: 300;
}

%fira-400 {
  font-family: 'FiraCode-Regular', sans-serif;
  font-weight: 400;
}

%fira-500 {
  font-family: 'FiraCode-Medium', sans-serif;
  font-weight: 500;
}