$accent: #94C017;
$grey: #787878;
$black: #181818;
$bg: #F5F5F4;


%manrope-600 {
  font-family: 'Manrope-SemiBold', sans-serif;
  font-weight: 600;
}

%sanscapt-400 {
  font-family: 'PTSansCaption-Regular', sans-serif;
  font-weight: 400;
}

